.direnv
.env
result
secrets/*.yaml
.DS_Store

# local machine files
.bash_history
.bash_logout
.bashrc
.claude
.claude.json
.claude.json.backup
.config
.gitconfig
.local
.motd_shown
.npm
.nvm
.opencode
.pki
.playwright-cli
.profile
.ssh
.sudo_as_admin_successful
.viminfo
.wget-hsts
.landscape
.bun
.cache
server/
